.ta__comments_app {
  height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 15px;
}

.ta__comments_viewer {
  width: 80%;
  margin: auto;
}

.ta__comments_list {
  text-align: left;
  white-space: pre-wrap;
  overflow: scroll;
  height: calc(100vh - 300px);
}

.ta__single_comment {
  margin: auto;
  padding: 7px;
  border: 1px solid grey;
  border-radius: 7px;
  margin-bottom: 5px;
}

.ta__single_comment .username {
  margin-top: 0;

}

.ta__single_comment p {
  font-weight: bold;
}

.ta__single_comment:not(:last-of-type) {
  border-bottom: 1px solid gray;
}
