.ta__widget_parent {
  height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 15px;
}

.ta__comments_viewer {
  /* padding: 0 15px; */
}

.ta__comments_list {
  text-align: left;
}

.ta__single_comment {
  padding: 7px;
  word-break: break-all;
}

.ta__single_comment p {
  font-weight: bold;
}

.ta__single_comment:not(:last-of-type) {
  border-bottom: 1px solid gray;
}

.ta__widget_container {
  position: relative;
}

.ta__comment_box {
  border: 1px solid grey;
  padding: 15px;
  border-radius: 5px;
  line-height: 1.5em;
  width: 80%;
}

.ta__suggestion_box {
  text-align: left;
  position: absolute;
  max-height: 200px;
  overflow: scroll;
  padding: 5px;
  left: 50px;
  bottom: 50px;
  background: whitesmoke;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px;
}

.ta__suggested_user {
  padding: 5px;
  cursor: pointer;
  color: blue;
}

a.suggest {
  text-decoration: none;
  cursor: pointer;
  /* color: blue; */
}
