.ta__widget_container {
  width: 80%;
  margin: auto;
  position: relative;
}

.ta__comment_box {
  border: 1px solid grey;
  padding: 15px;
  border-radius: 7px;
  line-height: 1em;
  width: 100%;
  resize: none;
  box-sizing: border-box
}

label#textareaWidgetLabel {
  display: none;
}

.ta__suggestion_box {
  text-align: left;
  position: absolute;
  max-height: 200px;
  overflow: scroll;
  background: whitesmoke;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px;
}

.ta__suggested_user {
  margin: 0;
  padding: 5px;
  cursor: pointer;
  color: mediumblue;

  &.active {
    background-color: #ccc;
  }
}

a.suggest {
  cursor: pointer;
  text-decoration: none;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #07f;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 7px;
}
